@import 'colors.scss';
@import 'common.scss';

footer {
    font-size: small;
    font-weight: 100;
    font-family: $monospace-font;
    width: 100%;
    text-align: center;
    position: relative;
    padding-bottom: 0.25em;
    left: 0;
    background-color: transparent;
    .author {
        font-variant: small-caps;
    }
    a {
        text-decoration: none;
        text-transform: lowercase;
    }
}
