<p>
    <span> {{ 'SCAN.ELEMENT.SCAN' | translate:scan }}
        <i *ngIf="scan.status === ScanStatus.ABORTED " translate>SCAN.ELEMENT.ABORTED </i>
        <i *ngIf="scan.status === ScanStatus.FAILED  " translate>SCAN.ELEMENT.FAILED  </i>
        <i *ngIf="scan.status === ScanStatus.FINISHED" translate>SCAN.ELEMENT.FINISHED</i>
    </span>
</p>
<p>
    <label [for]="'scan-'+scan.token+'-created'" translate>SCAN.ELEMENT.CREATION_TIME</label>
    <input [id]="'scan-'+scan.token+'-created'" type="datetime" readonly [value]="scan.created">
</p>
<p>
    <label [for]="'scan-'+scan.token+'-started'" translate>SCAN.ELEMENT.START_TIME</label>
    <input [id]="'scan-'+scan.token+'-started'" type="datetime" readonly [value]="scan.started">
</p>
<p>
    <label [for]="'scan-'+scan.token+'-finished'" translate>SCAN.ELEMENT.FINISH_TIME</label>
    <input [id]="'scan-'+scan.token+'-finished'" type="datetime" readonly [value]="scan.finished">
</p>
<div class="actions">
    <button *ngIf="scan.status === ScanStatus.WAITING || scan.status === ScanStatus.RUNNING" class="watch-running" [routerLink]="'/running/' + scan.token"
        title="{{'SCAN.ELEMENT.ACTIONS.WATCH' | translate}}">
        <i class="fa fa-eye" aria-hidden="true"></i>
    </button>
    <button
        *ngIf="scan.status === ScanStatus.FAILED || scan.status === ScanStatus.FINISHED"
        class="action download" title="{{'SCAN.ELEMENT.ACTIONS.DOWNLOAD' | translate}}">
        <a [href]="conf.apiEndpoint + '/secured/scan/result/' + scan.token + '?packed=true'">
            <i class="fa fa-download" aria-hidden="true"></i>
        </a>
    </button>
    <button
        *ngIf="scan.status === ScanStatus.FINISHED"
        title="{{'SCAN.ELEMENT.ACTIONS.VIEW' | translate}}"
        (click)="view($event)">
        <i class="fa fa-eye" aria-hidden="true"></i>
    </button>
    <button
        *ngIf="scan.status === ScanStatus.FINISHED"
        class="proteins"
        title="{{'SCAN.ELEMENT.ACTIONS.VIEW_PROTEINS' | translate}}"
        [routerLink]="'/scans/' + scan.token + '/proteins'">
        <i class="fa" aria-hidden="true"></i>
    </button>
</div>
<div *ngIf="result">
    <span>PH range: {{result.phRange}}</span>
</div>
