@import 'colors.scss';
@import 'form.common.scss';

input {
    width: 75%;
}
$icon-size: 24px 24px;
button.proteins {
    background-image: url('/assets/icons8-protein.png');
    background-size: $icon-size;
    background-repeat: no-repeat;
    background-position: center center;
}
button.peptides {
    background-image: url('/favicon.png');
    background-size: $icon-size;
    background-repeat: no-repeat;
    background-position: center center;
}
