<td>{{model.id}}</td>
<td>{{model.login}}</td>
<td>{{model.email}}</td>
<td>
    <ng-container *ngIf="model.admin">{{ 'USER.ELEMENT.ROLE_ADMIN' | translate }}</ng-container>
    <ng-container *ngIf="!model.admin">{{ 'USER.ELEMENT.ROLE_USER' | translate }}</ng-container>
</td>
<td>
    {{ model.activated | translate }}
</td>
<td class="actions">
    <ng-container *ngIf="!isCurrentUser()">
    <button class="action promote"
            *ngIf="!model.admin"
            title="{{ 'USER.ELEMENT.ACTIONS.PROMOTE' | translate }}"
            [disabled]="!enabled"
            (click)="setRole(model, 'true')">
        <i class="fa fa-chevron-up" aria-hidden="true"></i>
    </button>
    <button class="action demote"
            *ngIf="model.admin"
            title="{{ 'USER.ELEMENT.ACTIONS.DEMOTE' | translate }}"
            [disabled]="!enabled"
            (click)="setRole(model, 'false')">
        <i class="fa fa-chevron-down" aria-hidden="true"></i>
    </button>
    <button class="action remove"
            title="{{ 'USER.ELEMENT.ACTIONS.DELETE' | translate }}"
            [disabled]="!enabled"
            (click)="delete(model)">
        <i class="fa fa-trash-o" aria-hidden="true"></i>
    </button>
    <button class="action activate"
            title="{{ 'USER.ELEMENT.ACTIONS.ACTIVATE' | translate }}"
            *ngIf="!model.activated"
            (click)="activate(model)">
        <i class="fa fa-thumbs-up" aria-hidden="true"></i>
    </button>
    </ng-container>
</td>
