<table>
  <thead>
    <tr>
      <th translate>USER.LIST.ID</th>
      <th translate>USER.LIST.LOGIN</th>
      <th translate>USER.LIST.EMAIL</th>
      <th translate>USER.LIST.ROLE</th>
      <th translate>USER.LIST.ACTIVE.HEADER</th>
      <th class="actions"></th>
    </tr>
  </thead>
  <tbody *ngIf="users">
    <tr class="entity"
        *ngFor="let user of users"
        app-user-entity
        [model]="user"
        (onRemoved)="onModelDelete(user)"
        [attr.title]="isCurrentUser(user) ? 'This is you!' : undefined">
    </tr>
  </tbody>
  <tfoot>
    <tr *ngIf="loading">
      <th colspan="5">
        <mat-progress-spinner aria-label="loading users&hellip;" mode="indeterminate"></mat-progress-spinner>
      </th>
    </tr>
  </tfoot>
</table>
