@import 'colors.scss';
table {
    border-collapse: collapse;
    width: 100%;
    tr.entity:hover {
        background-color: rgba(0, 0, 0, .2);
    }
    tfoot mat-progress-spinner {
        margin: 0 auto;
    }
}