@import 'colors.scss';

// fonts
$global-font: Trebuchet MS;
$monospace-font: Arial;

// colours
$border-color: $color-primary-2;
$highlight-color: $color-primary-2;
$highlight-rgba-color: $rgba-primary-2;
$input-control-color: white;
$button-control-color: $color-primary-3;
$special-color: $color-secondary-2-3;

$background-color: #888;
$header-color: $color-primary-2;
$text-color: black;
$link-color: blue;

$error-color: $color-secondary-1-3;

@mixin top($offset:0) {
    z-index: 1000 + $offset;
}

%fill-parent {
    width: 100%;
    height: 100%;
}
