@import 'common.scss';

nav {
    $icon-size: 16px;
    $icon-pad: 2px;
    $nav-width: 200px;

    @include top();
    background-color: transparent;
    left: 0;
    top: 0;
    padding-right: 5px;
    box-sizing: border-box;
    position: fixed;
    border-bottom-right-radius: 3px;
    transition: background-color 0.3s ease-out, width 0.2s 0.1s ease-in-out;
    border: none;
    width: $icon-size + 2 * $icon-pad;
    overflow: hidden;
    &:hover {
        background-color: white;
        width: $nav-width;
    }
    ul {
        -webkit-margin-before: 0;
        -webkit-padding-start: 0;
        margin-block-start: 0;
        padding-inline-start: 0;
        width: $nav-width;
        li {
            padding: 2px 0;
            &.childless:hover {
                background-color: lightgray;
            }
            &.selected {
                background-color: $highlight-color;
            }
            &.separator {
                height: 1px;
                background-color: darkgray;
            }
        }
        >li {
            text-align: left;
        }
        >li li {
            text-align: right;
        }
        a {
            @extend %fill-parent;
            text-decoration: none;
            color: black;
            display: block;
        }
        i {
            width: $icon-size;
            padding: $icon-pad;
            text-align: center;
            float: left;
        }
    }
}
