<nav
	*ngIf="auth.loggedIn">
	<ul>
		<li
			*ngFor="let element of elements"
            [ngClass]="{childless: !element.children, selected: element.route===this.active, separator: element.separator}">
            <ng-container *ngIf="!element.separator">
            <ng-container *ngIf="element.children"><i *ngIf="element.icon" [class]="'fa '+ element.icon"></i>
                {{ 'CONTROL_PANEL.' + element.id | translate}}:
			<ul>
				<li
					*ngFor="let subElement of element.children"
					[ngClass]="{childless: !subElement.children, selected: subElement.route===this.active}">
                    <a [routerLink]="subElement.route"><i *ngIf="subElement.icon" [class]="'fa '+ subElement.icon"></i>
                        {{ 'CONTROL_PANEL.' + subElement.id | translate}}</a>
				</li>
			</ul>
			</ng-container>
			<a
				*ngIf="!element.children"
                [routerLink]="element.route"><i *ngIf="element.icon" [class]="'fa '+ element.icon"></i>
                {{ 'CONTROL_PANEL.' + element.id | translate}}</a>
            </ng-container>
		</li>
	</ul>
</nav>
