<h1 translate>ADMIN.CONFIG.HEADER</h1>
<mat-progress-spinner
    *ngIf="loading"
    [diameter]="100"
    aria-label="loading properties&hellip;"
    mode="indeterminate"></mat-progress-spinner>
<form (submit)="submit($event)" *ngIf="!loading">
  <ul>
    <li *ngFor="let config of configurations">
      <app-configuration-control [model]="config"></app-configuration-control>
    </li>
  </ul>
  <div class="actions">
    <button type="submit" title="{{ 'ADMIN.CONFIG.ACTIONS.SUBMIT' | translate }}">
      <i class="fa fa-floppy-o" aria-hidden="true"></i>
    </button>
  </div>
</form>
