<div [title]="model.description">
  <label [for]="'configuration-value-' + model.name">{{model.name}}</label>
  <ng-container *ngIf="model.type === 'number'">
    <input [(ngModel)]="model.value" type="number" required/>
  </ng-container>
  <ng-container *ngIf="model.type === 'string'">
    <input [(ngModel)]="model.value" type="text" required />
  </ng-container>
  <ng-container *ngIf="model.type === 'boolean'">
    <input [(ngModel)]="model.value" type="checkbox" />
  </ng-container>
  <!-- TODO button group or select for enums -->
</div>
