@import 'colors.scss';
@import 'common.scss';
form {
    margin: 0 auto;
    clear: both;
    width: 250px;
}

.top-placeholder {
    color: $highlight-color;
    font-size: 0.75em;
    position: absolute;
    top: -0.65em;
    left: 0.35em;
    font-size: 0.8em;
    user-select: none;
    cursor: default;
}

input,
button {
    margin: 0.32em auto;
}

form {
    vertical-align: middle;
    margin: 0 auto;
    mat-progress-spinner {
        @include top(1);
        margin: 0 auto;
        width: 100%;
        height: 100px;
        margin-top: -50px;
        top: 50%;
        position: absolute;
        left: 0;
    }
}

$input-height: 32px;
%input-basic {
    border: none;
    border-radius: 2px;
    box-sizing: border-box;
    margin: 0.25em;
    color: $text-color;
    font-weight: bold;
    position: relative;
    width: 100%;
    display: inline-block;
    text-indent: 0.25em;
    font: 0.75em $monospace-font;
    transition: all 0.1s 0.3s ease-in-out;
}

%default-input {
    @extend %input-basic;
    height: $input-height;
}

%focus {
    outline: none;
    box-shadow: 0 0 4px $highlight-rgba-color;
}

input,
button,
select {
    @extend %default-input;
    &:focus {
        @extend %focus;
    }
}

input,
select,
textarea {
    background-color: $input-control-color;
}

input[type='button'],
input[type='submit'],
input[type='reset'],
button {
    border: 0.5px solid $button-control-color;
    background-color: $color-primary-0;
    display: inline-block;
    text-align: center;
    width: auto;
}

textarea {
    @extend %input-basic;
    height: 4 * $input-height;
    resize: none;
    &:focus {
        @extend %focus;
    }
}

input[readOnly] {
    background-color: $color-primary-2;
    color: $color-primary-0;
}

.actions {
    button {
        text-indent: 0;
        width: $input-height;
        height: $input-height;
        i.fa {
            font-size: $input-height / 2;
        }
    }
}

button[disabled] {
    opacity: 0.25;
}

select option {
    color: $text-color;
}

*::placeholder,
select.ng-invalid,
select option[value*='undefined'] {
    color: $background-color !important;
    font-weight: lighter;
}

form span.error {
    font-size: small;
    font-family: Helvetica, monospace;
    color: #ca134a;
}

fieldset {
    border: none;
}

.overlay {
    @extend %fill-parent;
    left: 0;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.2);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    @include top();
    top: 0;
}

button {
    a {
        color: $text-color;
    }
}
