<form
	(ngSubmit)="submit($event)">
	<div *ngIf="full">
		<span
            *ngIf="form.get('newPassword').touched && !form.get('newPassword').valid"
			class="error"
			translate>RESET_PASSWORD.PASSWORD.ERR_NEW</span>
		<app-reactive-input
			ngDefaultControl
			[formControl]="form.controls['newPassword']"
			name="newPassword"
			type="password"
			placeholder="{{ 'RESET_PASSWORD.PASSWORD.PLACEHOLDER' | translate }}"
			autofocus="true"></app-reactive-input>
		<app-reactive-input
			[formControl]="form.controls['newPasswordRepeat']"
			name="newPasswordRepeat"
			type="password"
			placeholder="{{ 'RESET_PASSWORD.PASSWORD.RETYPE_PLACEHOLDER' | translate }}"></app-reactive-input>
		<button
			type="submit"
			translate>RESET_PASSWORD.FORM.ACTIONS.SUBMIT</button>
	</div>
	<div *ngIf="!full && email">
		<app-reactive-input
			ngDefaultControl
			[formControl]="form.controls['email']"
			name="email"
			type="email"
			placeholder="{{ 'RESET_PASSWORD.EMAIL.PLACEHOLDER' | translate }}"
			autofocus="true"></app-reactive-input>
	</div>
	<div *ngIf="!full && !email">
		<app-reactive-input
			ngDefaultControl
			[formControl]="form.controls['username']"
			name="username"
			placeholder="{{ 'RESET_PASSWORD.USERNAME.PLACEHOLDER' | translate }}"
			autofocus="true"></app-reactive-input>
	</div>
	<ng-container *ngIf="!full">
		<!-- TODO fix CSS here, align buttons-->
	<div class="inline">
		<button
			type="button"
            [routerLink]="['/login']"
            translate>RESET_PASSWORD.FORM.ACTIONS.RETURN</button>
		<button
			*ngIf="!email"
			type="button"
			[routerLink]="['/resetPassword', {'type': 'email'}]"
			translate>RESET_PASSWORD.FORM.ACTIONS.FORGOT_USERNAME</button>
	</div>
	<div class="actions">
		<button
            type="submit"
            title="{{ 'RESET_PASSWORD.FORM.ACTIONS.VERIFY' | translate }}"
			[disabled]="form.disabled">
			<i class="fa fa-check" aria-hidden="true"></i>
		</button>
	</div>
	</ng-container>
</form>
