<h3 translate [translateParams]="route.snapshot.params">RESULT_DETAILS.PROTEINS.HEADER</h3>
<mat-progress-spinner
    *ngIf="loading"
    aria-label="loading proteins&hellip;"
    mode="indeterminate"
></mat-progress-spinner>
<table *ngIf="!loading && proteins">
    <tr>
        <th translate>RESULT_DETAILS.PROTEINS.HEADERS.ID</th>
        <th translate>RESULT_DETAILS.PROTEINS.HEADERS.NAME</th>
        <th translate>RESULT_DETAILS.PROTEINS.HEADERS.SCORE</th>
        <th translate>RESULT_DETAILS.PROTEINS.HEADERS.ASSIGNED</th>
    </tr>
    <tr *ngFor="let protein of proteins">
        <td>
            <a [routerLink]="[router.url + '/' + encode(protein.id)]">
                {{ protein.id }}
            </a>
        </td>
        <td>{{ protein.shortName ? protein.shortName : protein.name }}</td>
        <td>{{ protein.score }}</td>
        <td>{{ protein.peptidesCount }}</td>
    </tr>
</table>
<table *ngIf="!loading && !proteins">
    <tr>
        <td style="text-align: center" translate>RESULT_DETAILS.MESSAGE._ERR</td>
    </tr>
</table>
