<form
	autocomplete="off"
	action="POST"
	(submit)="submit($event)">
	<app-reactive-input
		ngDefaultControl
		id="name"
		[ngClass]="{unchanged: form.controls['name'].value === user.login}"
		[formControl]="form.controls['name']"
		name='name'
		placeholder="{{ 'SETTINGS.USERNAME' | translate }}"></app-reactive-input>
	<br/>
	<app-reactive-input
		ngDefaultControl
		[ngClass]="{unchanged: form.controls['email'].value === user.email}"
		[formControl]="form.controls['email']"
		name="email"
		id="email"
		placeholder="{{ 'SETTINGS.EMAIL' | translate }}"></app-reactive-input>
	<br/>
	<div class="actions">
		<button
			type="submit"
            [disabled]="!form.valid || this.form.pristine"
            title="{{ 'SETTINGS.SAVE_CHANGES' | translate }}">
			<i class="fa fa-floppy-o" aria-hidden="true"></i>
		</button>
	</div>
</form>
