<div class="row input-joint-select">
  <div class="actions">
    <button (click)="add(sourceSelect.options)" type="button">+</button>
    <button (click)="remove(select.options)" type="button">-</button>
  </div>
  <label [for]="'select-'+type+'-modifications'" class="top-placeholder" [@placeholderSwitch]>{{ label }}</label>
  <select [name]="type" [id]="'select-'+type+'-modifications'" multiple class="dest" [ngClass]="type" #select ngDefaultControl>
    <option *ngFor="let opt of values" [ngValue]="(opt.value !== undefined) ? opt.value : opt" [title]="opt.name ? opt.name : opt">
      {{ opt.short }}
    </option>
  </select>
  <span
      class="what-is-this-thing"
      (click)="toggleTooltip()">?</span>
  <div
      #tooltipEl
      *ngIf="toggle"
      [@tooltipSwitch]
      class="tooltip"
     innerHTML="{{ tooltip | translate }}"></div>
</div>
