@import 'colors.scss';
@import 'form.common.scss';
@import '../reactive-input/reactive-input.component.scss';

$total: 150px;
$legendHeight: 10px;
$child: ($total / 2)*0.95;
:host {
    display: block;
    position: relative;
}

label.source {
    position: absolute;
    left: 0.25em;
}

.actions {
    clear: both;
    display: inline-block;
    position: relative;
    width: 17%;
    $size: 24px;
    button {
        width: $size;
        height: $size;
    }
}

.row {
    padding: 0.5em 0 1em 0.25em;
    .top-placeholder {
        padding-left: 0.5em;
    }
}

select {
    box-sizing: border-box;
    &[multiple] {
        @extend %fill-parent;
    }
    &.dest {
        float: right;
        width: 80%;
        height: 60px;
        margin-top: 14.5px;
        padding: 0;
        margin: 0;
    }
}

.input-joint-select .what-is-this-thing {
    right: -6px;
    top: 0;
}
