@import 'colors.scss';
@import 'common.scss';

.crank {
    cursor: pointer;
    path {
        transition-duration: .8s;
        fill: $button-control-color;
    }
    text {
        transition: opacity 0.8s;
        text-anchor: middle;
        font-weight: bold;
        font-variant: small-caps;
        user-select: none;
    }
}
