<svg class="crank" (click)="rotate()" [style.width]="2*(r+border) + 'px'" [style.height]="2*(r+border) + 'px'"
    [style.display]="(states && states.length > 1)? 'inline-block':'none'">
  <circle
    [style.fill]="'transparent'"
    [style.stroke]="'black'"
    [style.strokeWidth]="border"
    [attr.cx]="r + border"
    [attr.cy]="r + border"
    [attr.r]="r"></circle>
  <path
    [style.transform]="'rotate('+(startRotation + stateIndex*degs)+'deg)'"
    [style.transformOrigin]="(border+r) + 'px ' + (border+r) + 'px'"
    [attr.d]="'M'+(r+border)+','+(r+border)+' L'+(r+border)+','+border+' A'+r+','+r+' 0, 0, 1 '+x+',' +y+' z'"
    ></path>
  <text #textElements
    *ngFor="let text of states; let i = index"
    [style.opacity]="i === (stateIndex%states.length) ? '1':'0.5'">{{text}}</text>
</svg>
