<ng-container *ngIf="formControl">
    <div
        [class]="'input-collector input-' + inputType">
        <span
            class="top-placeholder"
            [@placeholderSwitch]
            *ngIf="((inputType === 'text' || inputType === 'password')
                 && formControl.value !== null && formControl.value!== undefined && formControl.value !== '') ||
                (inputType === 'select' && formControl.value !== undefined) ||
                inputType === 'joint-select' ||
                inputType === 'number'
                ">
                <ng-container *ngIf="placeholder">
                    {{placeholder | translate}}
                </ng-container>
                <ng-container *ngIf="!placeholder">
                    {{ name }}
                </ng-container>
        </span>
        <select #select
            *ngIf="isSelect()"
            [name]="name"
            [formControl]="formControl"
            [id]="id"
            [ngModel]="value"
            >
            <option
                *ngIf="!formControl.value || formControl.value === ''"
                disabled
                selected="selected"
                value="undefined">{{placeholder | translate}}</option>
            <option
                *ngFor="let opt of source"
                [ngValue]="(opt.value !== undefined) ? opt.value : opt"
                [attr.selected]="value === ((opt.value !== undefined) ? opt.value : opt) ? true : undefined"
                [title]="opt.name ? opt.name : opt">
                {{ opt.short ? opt.short : (opt.name ? opt.name: opt)}}
                <ng-container *ngIf="opt.symbol">({{opt.symbol}})</ng-container>
            </option>
        </select>
        <input #input
            *ngIf="isInput()"
            [name]="name"
            placeholder="{{ placeholder | translate }}"
            [autofocus]="autofocus"
            [autocomplete]="autocomplete"
            [type]="inputType"
            [attr.min]="inputType === 'number'? '0' : null"
            [attr.step]="(step !== undefined) ? step : null"
            [readOnly]="readOnly"
            [formControl]="formControl"
            [id]="id"
            [attr.value]="value === undefined ? null : value"/>
        <ng-container *ngIf="isFile()">
            <app-file-single-upload
                *ngIf="!isArray()"
                ngDefaultControl
                [maxSize]="1024*1024*1024"
                [id]="id"
                [name]="name"
                [formControl]="formControl">
            </app-file-single-upload>
            <app-file-several-upload
                *ngIf="isArray()"
                ngDefaultControl
                [maxSize]="1024*1024*1024"
                [id]="id"
                [name]="name"
                [formArray]="formControl">
            </app-file-several-upload>
        </ng-container>
        <ng-container *ngIf="tooltip && tooltip != translate.instant(tooltip)">
            <span
                class="what-is-this-thing"
                (click)="toggleTooltip()">?</span>
            <div
                #tooltipEl
                *ngIf="toggle"
                [@tooltipSwitch]
                class="tooltip"
                innerHTML="{{ tooltip | translate }}"></div>
         </ng-container>
    </div>
</ng-container>
