@import 'colors.scss';
@import 'form.common.scss';

.what-is-this-thing {
    border-radius: 50%;
    background-color: $special-color;
    color: $text-color;
    position: absolute;
    right: 9px;
    top: 1em;
    width: 1em;
    height: 1em;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    user-select: none;
}

.input-collector {
	display: inline-block;
	border-radius: 2px;
	box-sizing: border-box;
	padding: 5px 4px;
	width: 45%;
	min-width: 200px;
	position: relative;

}
.input-select .what-is-this-thing {
    right: -6px;
    top: 0;
}

.tooltip {
    color: $text-color;
    display: inline-block;
    position: absolute;
    left: 12.5em;
    top: 0.8em;
    border: 1px solid $special-color;
    width: 250px;
    @include top(10);
    background-color: $special-color;
    border-radius: 3px;
    padding: 0.5em;
    box-sizing: border-box;
    min-height: 23px;
    :before {
        content: '';
        width: 0;
        height: 0;
        border: 0.7em solid transparent;
        border-left-width: 0;
        border-right-color: $special-color;
        position: absolute;
        left: -0.7em;
        top: 0;
    }
}

.input-collector.input-joint-select .tooltip, .input-collector.input-select .tooltip {
	left: 13.6em;
	top: -0.15em;
}

input.ng-invalid.ng-dirty {
	background: #CA134A;
}

form .container {
	position: relative;

	.input-error {
		background: $error-color;
		position: absolute;
		margin: 6px auto;
		border-radius: 3px;
		border: 1px solid $border-color;
		box-sizing: border-box;
		left: 75%;
		top: -8px;
		min-height: 40px;
		vertical-align: middle;
		width: 260px;
		text-align: center;
		transition: opacity linear 0.5s;
		span.excl {
			width: 28px;
			position: absolute;
			left: -34px;
			top: 8px;
			:before {
				content: '!';
				border-radius: 50%;
				border: 2px solid darkred;
				width: 20px;
				display: inline-block;
				height: 20px;
				box-sizing: border-box;
				color: darkred;
				font-weight: 900;
				text-align: center;
			}
		}
		span.msg {
			display: block;
			padding: 2px;
		}

		&:before, &:after {
			width: 0;
			height: 0;
			content: '';
			display: block;
			position: absolute;
		}
		&:before {
			$border: 7px;
			border: $border solid transparent;
			border-right: $border solid $highlight-color;
			top: calc($input-height/ 2 - $border);
			left: -#{2 * $border};
		}
		&:after {
			$border: 5px;
			border: $border solid transparent;
			border-right: $border solid $error-color;
			top: calc($input-height/ 2 - $border);
			left: -#{2 * $border};
		}
	}
}

