<app-common></app-common>
<div class="app-body">
	<app-control-panel [elements]="mode === 'admin' ? adminElements : userElements"></app-control-panel>
	<div #floatbox
		class="floatbox"
		*ngIf="router.url !== '/about'"
		[@floatboxExit]>
        <div class="floatbox-header">
            <app-crank
                class="languageSelect"
                title="{{ 'NAVI.SWITCH.LANGUAGE' | translate }}"
                [states]="translate.langs"
                [state]="language"
                (stateChanged)="translate.use($event)"
                [r]="35" [border]="0"></app-crank>
            <app-crank
                *ngIf="auth.loggedIn"
                [ngClass]="{'userSelect': true, 'admin': mode === 'admin'}"
                title="{{ 'NAVI.SWITCH.ROLE' | translate }}"
                [states]="auth.getUser().getRoles()"
                [(state)]="mode"
                (stateChanged)="modeChanged($event)"
                [startRotation]="90"
                [r]="35" [border]=0></app-crank>
        </div>
        <div class="floatbox-app-header">
            <h1 translate>TITLE</h1>
        </div>
        <div class="floatbox-content">
            <mat-progress-spinner aria-label="loading&hellip;" mode="indeterminate" *ngIf="loading"></mat-progress-spinner>
            <router-outlet></router-outlet>
        </div>
	</div>
	<app-about
		*ngIf="router.url === '/about'"
		[@floatboxCover]></app-about>
    <app-foot class="app-footer"></app-foot>
</div>
