@import 'colors.scss';
@import 'common.scss';

.app-body {
    @extend %fill-parent;
    position: relative;
    @mixin fixed-background() {
        background-position-y: center;
        background-repeat: no-repeat;
        background-image: url('../favicon.png');
        background-attachment: fixed;
    }
    @media (max-width: 450px) {
        @include fixed-background();
        background-position-x: center;
    }
    @media (min-width: 451px) and (max-width: 1000px) {
        @include fixed-background();
        background-position-x: -208px;
    }
    @media (min-width: 1001px) {
        @include fixed-background();
        background-position-x: calc(40% - 445px);
    }
    min-height: 420px;
    display: table;
}

.app-footer {
    height: 35px;
    display: table-row;
}

h1 {
    color: $header-color;
    font-variant: small-caps;
}

$float_width: 40%;
.floatbox {
    margin: 0 auto;
    width: $float_width;
    text-align: center;
    position: relative;
    padding: 1em;
    display: grid;
    min-width: 450px;
    vertical-align: middle;
    .floatbox-app-header {
        display: table-row;
    }
    .floatbox-content {
        position: relative;
        height: auto;
        min-height: 270px;
        vertical-align: middle;
        display: table-cell;
    }
}

app-crank {
    $size: 72px;
    position: absolute;
    top: 10px;
    width: $size;
    height: $size;
    @include top();
    &.languageSelect {
        left: -40px;
    }
    &.userSelect {
        left: 40px;
    }
}
app-about {
    $t: 50%;
    position: fixed;
    top: $t;
    transform: translate(-$t, -$t);
    left: $t;
    width: 70%;
}
