<h2 translate>ADMIN.WINDOW_TITLE</h2>
<div class="container">
    <mat-progress-spinner *ngIf="loading" [diameter]="20" aria-label="loading status&hellip;" mode="indeterminate"></mat-progress-spinner>
    <ng-container *ngIf="status && !loading">
        {{ 'ADMIN.CURRENTLY' | translate }}
        <ul>
            <li translate [translateParams]="{count: status.scanCount}">ADMIN.RUNNING_SCANS_COUNT</li>
            <li translate [translateParams]="{count: status.waitingScanCount}">ADMIN.WAITING_SCANS_COUNT</li>
        </ul>
    </ng-container>
    <ng-container *ngIf="!status && !loading" translate>
        ADMIN.CANNOT_RETRIEVE_STATUS
    </ng-container>
</div>
<router-outlet></router-outlet>
