<div class="left">
    <label for="select-modifications" class="top-placeholder source" [@placeholderSwitch] translate>FORM.MULTISELECT.MODS</label>
    <select multiple class="source" #sourceSelect id="select-modifications" name="_none">
        <ng-container *ngFor="let opt of source">
            <option [ngValue]="opt" [title]="opt.name" *ngIf="!opt.advanced || showAdvanced">
                {{ opt.short }}
            </option>
        </ng-container>
    </select>
    <div>
        <label for="showAdvanced" translate>FORM.MULTISELECT.SHOW_ALL</label>
        <input type="checkbox" [(ngModel)]="showAdvanced" name="showAdvanced" id="showAdvanced" (change)="onChange($event)"/>
    </div>
</div>
<div class="right">
    <app-peptide-select
        label="{{ 'FORM.MULTISELECT.VARIABLE' | translate }}"
        tooltip="{{ 'SEARCH_CONFIG.FORM.VARMODIFICATIONS.TOOLTIP' | translate }}"
        type="variable"
        [source]="source"
        [sourceSelect]="sourceSelect"
        [formControl]="group.controls['varModifications']"
        ngDefaultControl></app-peptide-select>
    <app-peptide-select
        label="{{ 'FORM.MULTISELECT.FIXED' | translate }}"
        tooltip="{{ 'SEARCH_CONFIG.FORM.FIXMODIFICATIONS.TOOLTIP' | translate }}"
        type="fixed"
        [source]="source"
        [sourceSelect]="sourceSelect"
        [formControl]="group.controls['fixModifications']"
        ngDefaultControl></app-peptide-select>
</div>
<div class="overlay" *ngIf="loading">
    <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
</div>
