@import 'colors.scss';
@import 'form.common.scss';
$total: 150px;
$legendHeight: 10px;
$child: ($total / 2) * 0.95;
:host {
    display: block;
    position: relative;
}

label.source {
    position: absolute;
    left: 0.25em;
}

.left,
.right {
    position: relative;
    width: 50%;
}

.left {
    float: left;
    > div {
        text-align: left;
        margin: 10px 5px;
    }
}

.right {
    float: right;
}

select {
    box-sizing: border-box;
    &[multiple] {
        @extend %fill-parent;
    }
    &.source {
        height: $total - $legendHeight;
        top: $legendHeight;
    }
}

label {
    display: inline-block;
}

input {
    $size: 20px;
    &[type='checkbox'] {
        display: inline-block;
        height: $size;
        width: $size;
        vertical-align: middle;
    }
}

app-peptide-select {
    position: relative;
}
