<label
    [ngClass]="{'file-upload': true, 'uploading': status && status.uploading, 'finished': status && status.progress===100}"
    [style.background]="(status && status.color) ? status.color : ''"
    [attr.title]="fileUploadService.isUploading? (fileUploadService.progress + '%'):undefined"
    ng2FileDrop
    (ng2FileDropAccepted)="dragFileAccepted($event)"
    (ng2FileDropHoverStart)="dragFileOverStart()"
    (ng2FileDropHoverEnd)="dragFileOverEnd()">
    <ng-container *ngIf="!fileUploadService.queue.length">{{ 'FORM.UPLOAD.ACTIONS.SELECT' | translate }}</ng-container>
    <ng-container *ngIf="fileUploadService.queue.length">
        <ng-container *ngIf="fileUploadService.isUploading">{{ 'FORM.UPLOAD.UPLOADING' | translate:fileUploadService.queue[0]._file }}</ng-container>
    </ng-container>
    <ng-container *ngIf="status.finished">{{ status.item.file.name }}</ng-container>
    <input
        type="file"
        style="display: none;"
        [uploader]="fileUploadService"
        (change)="onFile($event)"
        ng2FileSelect/>
    <input
        ngDefaultControl
        style="display: none;"
        [name]="name"
        [attr.formControl]="formControl ? formControl : undefined"
        [attr.ngModel]="ngModel ? ngModel: undefined"/>
    <button class="remove" (click)="onRemove($event)" *ngIf="status.finished || status.uploading" title="{{ 'FORM.UPLOAD.ACTIONS.DELETE' | translate }}">
        <i class="fa fa-times" aria-hidden="true"></i>
    </button>
</label>
