<div [formGroup]="formControl.parent">
    <div formArrayName="files">
        <app-file-single-upload
            *ngFor="let control of formControl.controls; index as index"
            [maxSize]="maxFileSize"
            [id]="id + '-' + index"
            [name]="name + '-' + index"
            [formControl]="control"
            [formGroupName]="index"
            (onDelete)="updateList($event, index)"
            (ngModelChange)="updateList($event, index)">
        </app-file-single-upload>
    </div>
</div>
