@import 'form.common.scss';
@import 'common.scss';
@keyframes blink {
    0%,
    100% {
        box-shadow: 0px 0px 0px $highlight-color, 0px 0px 0px $highlight-color inset;
    }
    50% {
        box-shadow: 0px 0px 6px $highlight-color, 0px 0px 6px $highlight-color inset;
    }
}

.file-upload {
    @extend %default-input;
    background-color: $input-control-color;
    vertical-align: middle;
    padding: 8px 1px;
    overflow-x: hidden;
    position: relative;
    input {
        display: none;
    }
    &.finished {
        animation-name: blink;
        animation-duration: 1s;
    }
    .remove {
        $size: 15px;
        width: $size;
        height: $size;
        color: white;
        min-width: unset;
        font-size: 1em;
        display: block;
        border: 0;
        background: black;
        margin: 0;
        padding: 0;
        text-align: center;
        text-indent: 0;
        font-weight: bold;
        cursor: pointer;
        position: absolute;
        left: 0;
        top: 0;
        &:click {
            color: black;
        }
    }
}
