@import 'colors.scss';
@import 'form.common.scss';
form {
    min-width: 450px;
    width: 45%;
    margin: 0 auto;
    .loading,
    .loading input,
    .loading select {
        cursor: wait !important;
    }
    fieldset {
        width: 95%;
        :input:NTH-CHILD(2n+1) {
            float: left;
        }
    }
}

form fieldset>*:NTH-CHILD(2n) {
    float: right;
    clear: right;
    width: 50%;
}

input[type="number"] {
    ::-webkit-outer-spin-button,
    ::-webkit-inner-spin-button {
        -webkit-appearance: none;
        background-color: $color-secondary-2-0;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 1em;
        height: 30px;
        color: $color-primary-0;
    }
}

input[type="number"]::-webkit-outer-spin-button:before,
input[type="number"]::-webkit-outer-spin-button:after {
    content: '';
    border: 3px solid transparent;
    border-bottom-color: $color-primary-0;
    width: 0;
    height: 0;
    display: inline-block;
    position: absolute;
    top: 5px;
    right: calc(( 1em - 3px)/2);
    z-index: 1;
}

input[type="number"]::-webkit-inner-spin-button:before,
input[type="number"]::-webkit-inner-spin-button:after {
    content: '';
    border: 3px solid transparent;
    border-bottom-color: $color-primary-0;
    width: 0;
    height: 0;
    display: inline-block;
    position: absolute;
    top: 5px;
    right: calc(( 1em - 3px)/2);
    z-index: 1;
}

button[type="submit"] {
    padding: 0 9px;
    text-indent: 0;
}

mat-progress-spinner {
    margin-top: 50%;
}
