<div
	class="overlay"
	*ngIf="loading">
	<mat-progress-spinner aria-label="loading&hellip;" mode="indeterminate"></mat-progress-spinner>
</div>
<div
	class="overlay"
	*ngIf="submitting">
	<mat-progress-spinner aria-label="submitting&hellip;" mode="indeterminate"></mat-progress-spinner>
</div>
<form
	[ngClass]="{loading: loading, configuration: true}"
	(submit)="submit($event)">
	<fieldset *ngFor="let _group of [formData[0], formData[1], formData[2]]">
		<app-reactive-input
			ngDefaultControl
            *ngFor="let _control of _group.controls"
            [id]="'scan_param_' + _control.name"
			[source]="_control.source"
			[hidden]="(_control.source && !_control.source.length) || (_control.advanced && !isAdvanced())"
			[formControl]="form.controls[_group.name].controls[_control.name]"
			[inputType]="_control.type ? _control.type : 'text'"
			[name]="_control.name"
			[placeholder]="'SEARCH_CONFIG.FORM.' + _control.name.toUpperCase() + '.PLACEHOLDER'"
			[readOnly]="_control.readonly"
			[autofocus]="formData.indexOf(_group) === 0 && _group.controls.indexOf(_control) === 0"
			[tooltip]="'SEARCH_CONFIG.FORM.' + _control.name.toUpperCase() + '.TOOLTIP'"
			[step]="_control.step"
			[value]="config[_control.name]"></app-reactive-input>
	</fieldset>
	<fieldset>
		<app-peptide-multiselect
			[source]="formData[3]['source']"
			[group]="form.controls[formData[3]['name']]"></app-peptide-multiselect>
	</fieldset>
	<fieldset *ngFor="let _group of [formData[4]]">
		<app-reactive-input
			ngDefaultControl
			*ngFor="let _control of _group.controls"
            [id]="'scan_param_' + _control.name"
            [source]="_control.source"
			[hidden]="(_control.source && !_control.source.length) || (_control.advanced && !isAdvanced())"
			[formControl]="form.controls[_group.name].controls[_control.name]"
			[inputType]="_control.type ? _control.type : 'text'"
			[name]="_control.name"
			[placeholder]="'SEARCH_CONFIG.FORM.' + _control.name.toUpperCase() + '.PLACEHOLDER'"
			[readOnly]="_control.readonly"
            [autofocus]="formData.indexOf(_group) === 0 && _group.controls.indexOf(_control) === 0"
            [tooltip]="'SEARCH_CONFIG.FORM.' + _control.name.toUpperCase() + '.TOOLTIP'"
			[step]="_control.step"
			[value]="config[_control.name]"></app-reactive-input>
	</fieldset>
	<fieldset>
		<button
			type="submit"
			[disabled]="!form.valid">
			<i class="fa fa-check" aria-hidden="true"></i>
		</button>
	</fieldset>
</form>
