<mat-progress-spinner
  *ngIf="loading"
  aria-label="loading scans&hellip;"
  mode="indeterminate">
</mat-progress-spinner>
<ul *ngIf="!loading">
  <li *ngFor="let scan of scans" [id]="scan.token" [ngClass]="{highlighted: scan.token == highlighted}">
    <app-scan-element [scan]="scan"></app-scan-element>
  </li>
  <li *ngIf="!loading && (!scans || !scans.length)" class="no-scans">
    {{ 'SCAN.LIST.NO_SCANS' | translate }}
    <a [routerLink]="['/config']" translate>SCAN.LIST.ACTIONS.SCHEDULE</a>
  </li>
</ul>
