@import 'colors.scss';
@import 'form.common.scss';
mat-progress-spinner {
    margin: 15px auto;
    width: 35px;
    height: 35px;
}

ul {
    .no-scans {
        list-style-type: none;
    }
    li {
        border-radius: 10px;
        &.highlighted {
            box-shadow: 0 0 5px $highlight-color;
        }
    }
}
