<ng-container *ngIf="form && form.enabled">
	<form
		method="POST"
		action="j_security_check"
		(ngSubmit)="submit($event)">
		<app-reactive-input
			ngDefaultControl
			id="j_username"
			name="j_username"
			[formControl]="form.controls['j_username']"
			[placeholder]="'LOGIN.USERNAME' | translate"
			[autofocus]="!form.controls['j_username'].value"
			autocomplete="on"></app-reactive-input>
		<app-reactive-input
			ngDefaultControl
			id="j_password"
			name="j_password"
			[formControl]="form.controls['j_password']"
			[placeholder]="'LOGIN.PASS' | translate"
			[autofocus]="!form.controls['j_password'].value"
			inputType="password"></app-reactive-input>
		<div class="actions">
			<button
				class="register"
				routerLinkActive="active"
                translate
				type="button"
                [routerLink]="['/register']">LOGIN.REGISTER_BUTTON</button>
			<button
				class="login"
				type="submit"
                translate
                [disabled]="!form.valid"
				(click)="submit($event)">LOGIN.LOGIN_BUTTON</button>
		</div>
	</form>
	<a
	[routerLink]="['/resetPassword']"
	translate>LOGIN.LOST_PASS</a>
</ng-container>
<mat-progress-spinner aria-label="logging in&hellip;" mode="indeterminate" *ngIf="!form || (form && !form.enabled)"></mat-progress-spinner>
