@import 'common.scss';
@import 'form.common.scss';
.input-collector {
    width: 100% !important;
}

form {
    .actions {
        display: inline-block;
        width: 85%;
    }
    app-reactive-input {
        input {
            margin: 0 !important;
        }
    }
    button {
        display: inline-block;
        width: auto;
        min-width: 6em;
        position: relative;
        &.register {
            float: left;
        }
        &.login {
            float: right;
        }
    }
}

a {
    color: $highlight-color;
    clear: both;
    display: block;
    font-variant: small-caps;
    text-decoration: blink;
    display: block;
}
