<form
	method="POST"
	(ngSubmit)="submit($event)">
	<div class="container">
		<input
			[ngClass]="{'ng-invalid': form.controls['login'].dirty && form.controls['login'].touched && !form.controls['login'].valid}"
			[formControl]="form.controls['login']"
			placeholder="{{ 'REGISTRATION.FORM.LOGIN.PLACEHOLDER' | translate }}" />
		<div
            *ngIf="form.controls['login'].dirty && form.controls['login'].touched && !form.controls['login'].valid"
			class="input-error"
			[@inputError]="form.controls['login'].dirty && form.controls['login'].touched && !form.controls['login'].valid">
			<span class="excl"></span>
			<span
				*ngIf="form.controls['login'].hasError('required') || form.controls['login'].hasError('minlength')"
				class="msg" translate>REGISTRATION.FORM.LOGIN.ERR_LENGTH</span>
			<span
				*ngIf="form.controls['login'].hasError('userExists')"
				class="msg" translate>REGISTRATION.FORM.LOGIN.ERR_EXISTS</span>
		</div>
	</div>
	<div class="container">
		<input
			[ngClass]="{'ng-invalid': form.controls['password'].dirty && form.controls['password'].touched && form.controls['password'].touched && !form.controls['password'].valid}"
			[formControl]="form.controls['password']"
			type="password"
			placeholder="{{ 'REGISTRATION.FORM.PASSWORD.PLACEHOLDER' | translate }}"/>
		<div
            *ngIf="form.controls['password'].dirty && form.controls['password'].touched && !form.controls['password'].valid"
			class="input-error">
			<span class="excl"></span>
			<span
                *ngIf="form.controls['password'].hasError('minlength')"
				class="msg"
				translate>REGISTRATION.FORM.PASSWORD.ERR_LENGTH</span>
			<span
                *ngIf="form.controls['password'].hasError('properpassword')"
				class="msg"
				translate>REGISTRATION.FORM.PASSWORD.ERR_PROPER</span>
		</div>
	</div>
	<div class="container">
		<input
			[ngClass]="{'ng-invalid': form.controls['passwordRepeat'].dirty && form.controls['passwordRepeat'].touched && !form.controls['passwordRepeat'].valid}"
			[formControl]="form.controls['passwordRepeat']"
            type="password"
			placeholder="{{ 'REGISTRATION.FORM.PASSWORD.RETYPE_PLACEHOLDER' | translate }}"/>
		<div
            *ngIf="form.controls['passwordRepeat'].dirty && form.controls['passwordRepeat'].touched && !form.controls['passwordRepeat'].valid"
			class="input-error">
			<span class="excl"></span>
			<span
                *ngIf="form.controls['passwordRepeat'].hasError('equalto')"
				class="msg"
				translate>REGISTRATION.FORM.PASSWORD.ERR_EQUAL</span>
		</div>
	</div>
	<div class="container">
		<input
			[ngClass]="{'ng-invalid': form.controls['email'].dirty && form.controls['email'].touched && !form.controls['email'].valid}"
			[formControl]="form.controls['email']"
			type="email"
			placeholder="{{ 'REGISTRATION.FORM.EMAIL.PLACEHOLDER' | translate }}" />
		<div
            *ngIf="form.controls['email'].dirty && form.controls['email'].touched && !form.controls['email'].valid"
			class="input-error">
			<span class="excl"></span>
			<span
                *ngIf="form.controls['email'].hasError('email')"
				class="msg"
				translate>REGISTRATION.FORM.EMAIL.ERR_CORRECT</span>
			<span
                *ngIf="form.controls['email'].hasError('emailExists')"
				class="msg"
				translate>REGISTRATION.FORM.EMAIL.ERR_EXISTS</span>
		</div>
	</div>
	<button
		type="reset"
		[routerLink]="['/login']" translate>REGISTRATION.FORM.ACTIONS.RESET</button>
	<button
		type="submit"
		[disabled]="!form.valid" translate>REGISTRATION.FORM.ACTIONS.SUBMIT</button>
</form>
