<h3 translate [translateParams]="route.snapshot.params">RESULT_DETAILS.PEPTIDES.HEADER</h3>
<mat-progress-spinner
    *ngIf="loading"
    aria-label="loading peptides&hellip;"
    mode="indeterminate"></mat-progress-spinner>
<ng-container *ngIf="!loading && peptides">
    <div class="peptide" *ngFor="let peptide of peptides">
        <p class="peptide-header">
            <span [innerHTML]="'RESULT_DETAILS.PEPTIDES.TITLE_LINE' | translate:peptide"></span>
        </p>
        <table class="peptide-queries">
            <tr>
                <th translate>RESULT_DETAILS.PEPTIDES.HEADERS.QUERY</th>
                <th translate>RESULT_DETAILS.PEPTIDES.HEADERS.MZ</th>
                <th translate>RESULT_DETAILS.PEPTIDES.HEADERS.MASS</th>
                <th translate>RESULT_DETAILS.PEPTIDES.HEADERS.CHARGE</th>
                <th translate>RESULT_DETAILS.PEPTIDES.HEADERS.SCORE</th>
                <th [innerHTML]="'RESULT_DETAILS.PEPTIDES.HEADERS.DELTA_PPM' | translate:peptide"></th>
            </tr>
            <tr *ngFor="let query of peptide.queries">
                <td>{{query.nr}}</td>
                <td>{{query.mz}}</td>
                <td>{{query.mass}}</td>
                <td>{{query.charge}}</td>
                <td>{{round(query.score) | number:'1.0-0'}}</td>
                <td>{{query.deltaPPM | number:'1.4-4'}}</td>
            </tr>
        </table>
    </div>
</ng-container>
