@import 'colors.scss';

.peptide {
    padding: 0.25em;
    transition: background-color .15s 0s linear;
    &:hover {
        background-color: rgba(0, 0, 0, 0.2);
    }
    .peptide-header {
        text-align: left;
    }
    .peptide-queries {
        width: 100%;
        margin-bottom: 1.5em;
    }
}
