<h2 translate>EMAIL_TEMPLATE.LIST.HEADER</h2>
<mat-progress-spinner
  *ngIf="loading"
  aria-label="loading templates&hellip;"
  mode="indeterminate"></mat-progress-spinner>
<ul *ngIf="!loading">
  <li *ngFor="let model of templates">
    <app-email-template
      [model]="model"
      (edit)="onEdit($event)">
    </app-email-template>
  </li>
</ul>
