<div>
  <h2>{{model.name}}.{{model.type}}</h2>
  <div class="actions" *ngIf="!editing">
    <button class="action" (click)="startEditing()">
        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
    </button>
  </div>
</div>
<ng-container *ngIf="editing">
  <form #templateForm="ngForm" (submit)="save(templateForm)">
    <input
      type="hidden"
      name="id"
      [(ngModel)]="model.id"/>
    <app-ngx-editor
      name="body"
      required="true"
      placeholder="{{ 'EMAIL_TEMPLATE.CONTENT.PLACEHOLDER' | translate }}"
      [disabled]="disabled"
      [spellcheck]="true"
      [(ngModel)]="model.body"></app-ngx-editor>
      <div class="actions">
        <button type="submit" title="{{ 'EMAIL_TEMPLATE.ACTIONS.UPDATE' | translate }}">
            <i class="fa fa-floppy-o" aria-hidden="true"></i>
        </button>
        <button type="reset" (click)="cancelUpdate()" title="{{ 'EMAIL_TEMPLATE.ACTIONS.CANCEL' | translate }}">
            <i class="fa fa-trash-o" aria-hidden="true"></i>
        </button>
      </div>
  </form>
</ng-container>
