@import '~@angular/material/_theming.scss';
@import "~codemirror/lib/codemirror.css";
$fa-font-path: "~font-awesome/fonts";
@import "~font-awesome/scss/font-awesome";
@import 'common.scss';
@include mat-core();

body {
    background-color: $background-color;
    text-align: center;
    font-family: $global-font;
    color: $text-color;
    height: 100%;
}

ul {
    margin-block-end: 0;
    -webkit-padding-start: 0;
    list-style: none;
}

a {
    color: $link-color;
}

mat-progress-spinner {
    display: inline-block;
    position: relative;
    margin: 0 auto;
    width: 100px;
    height: 100px;
    circle {
        stroke: $special-color;
    }
}
