<p
  *ngIf="loading || (!loading && (scans && scans.length))"
  translate>RUNNING.LIST.HEADER</p>
<div class="actions">
  <button
      *ngIf="!loading"
      class="action"
      title="{{ 'RUNNING.LIST.ACTIONS.RELOAD' | translate }}"
      (click)="refresh()">
    <i class="fa fa-refresh" aria-hidden="true" class="fa fa-refresh" aria-hidden="true"></i>
  </button>
</div>
<mat-progress-spinner
  *ngIf="loading"
  aria-label="loading tasks&hellip;"
  mode="indeterminate"></mat-progress-spinner>
<ul>
  <li *ngFor="let scan of scans">
    <a [routerLink]="['/running/'+scan.token]">{{scan.token}}</a>
  </li>
  <li *ngIf="!loading && (!scans || !scans.length)"
    class="no-scans">{{ 'RUNNING.LIST.NO_SCANS' | translate }}
    <a [routerLink]="['/config']" translate>RUNNING.LIST.ACTIONS.SCHEDULE</a>
  </li>
</ul>
