@import 'colors.scss';
@import 'form.common.scss';
pre {
    text-align: left;
    white-space: pre-wrap;
    word-wrap: break-word;
    &:hover {
        background: rgba(0, 0, 0, 0.2);
    }
}

.actions {
    .cancel {
        background-color: red;
        i {
            color: white;
        }
    }
}
