<ng-container *ngIf="scan" class="configuration">
  <div>
    <ng-container *ngIf="scan && scan.parameters">
      <h2 translate>RUNNING.ELEMENT.HEADER</h2>
      <pre>{{ JSON.parse(scan.parameters) | json }}</pre>
    </ng-container>
    <h2 translate>RUNNING.ELEMENT.STATUS.HEADER</h2>
    <div>
      <p translate [translateParams]="{created: scan.created}">RUNNING.ELEMENT.STATUS.CREATED</p>
      <p *ngIf="!scan.started" translate>RUNNING.ELEMENT.STATUS.WAITING</p>
      <p *ngIf="scan.started" translate [translateParams]="{started: scan.started}">RUNNING.ELEMENT.STATUS.STARTED</p>
      <p *ngIf="scan.finished" translate [translateParams]="{finished: scan.finished}">RUNNING.ELEMENT.STATUS.FINISHED</p>
    </div>
  </div>
</ng-container>
<div #message>
  <div class="actions" *ngIf="scan && !scan.finished">
    <button class="action cancel" title="{{ 'RUNNING.ELEMENT.ACTIONS.CANCEL' | translate }}" (click)="cancel($event)">
        <i class="fa fa-ban"></i>
    </button>
  </div>
  <ng-container *ngFor="let message of messages">
    <pre>{{message}}</pre>
  </ng-container>
  <mat-progress-spinner
    aria-label="loading status&hellip;"
    mode="indeterminate"
    *ngIf="!finished && scan && scan.status !== ScanStatus.WAITING"></mat-progress-spinner>
  <a *ngIf="finished && scan && scan.status !== ScanStatus.ABORTED" [routerLink]="['/scans']" [fragment]="scan.token">See the result</a>
</div>
