<div>
  <ul *ngIf="databases && databases.length">
    <li *ngFor="let el of databases">
      <app-database-element
        (click)="expandedChanged(el.id)"
        [model]="el"
        [expanded]="expandedID === el.id"
        (deleted)="deleted($event)"
        (cancelAdd)="cancelAdd()"></app-database-element>
    </li>
  </ul>
  <mat-progress-spinner aria-label="loading databases&hellip;" *ngIf="loading" mode="indeterminate"></mat-progress-spinner>
  <div class="actions" *ngIf="!loading">
    <button
        *ngIf="databases.length === 0 || databases[databases.length-1].id !== undefined"
        title="{{ 'DATABASE.LIST.ACTIONS.CREATE' | translate }}"
        (click)="createElement()">
      <i class="fa fa-plus" aria-hidden="true"></i>
    </button>
  </div>
</div>
