<form *ngIf="edit || add" (submit)="submit($event)">
  <input type="text" class="" id="database-name" required [(ngModel)]="model.name" name="name" (focus)="$event.target.select()">
  <!-- TODO make URL input fully expand when filled-->
  <input type="url" id="database-url" name="url" required
    *ngIf="!edit || model.url || !model.token"
    (paste)="onURLPaste($event)"
    [@inputShrink]="model.url ? 'extend' : 'shrink'"
    style.float="left"
    class="shrinkable"
    type="url"
    placeholder="{{ 'DATABASE.ELEMENT.FORM.DL_URL' | translate }}"
    spellcheck="false"
    [attr.title]="model.downloading ? (total < 0 ? getReadableSize(progress):(progress+'%')) : undefined"
    [style.backgroundImage]="(model.downloading && total > 0) ? (progress > 0 ? 'linear-gradient(to right, green ' + progress + '%, blue 0%)':'transparent'):'transparent'"
    [attr.readonly]="add ? undefined:'readonly'"
    [(ngModel)]="model.url">
  <span *ngIf="!edit || (!model.url && !model.token)" class="separator"> {{ 'DATABASE.ELEMENT.FORM.OR' | translate }} </span>
  <!-- FIXME make max size configurable-->
  <app-file-single-upload
    [@inputShrink]="model.token ? 'extend' : 'shrink'"
    style.float="right"
    *ngIf="!model.url || model.token"
    class="shrinkable"
    id="database-token"
    name="token"
    [maxSize]="1024*1024*1024"
    [(ngModel)]="model.token"></app-file-single-upload>
  <textarea [(ngModel)]="model.description" name="database-description" id="database-description" placeholder="{{ 'DATABASE.ELEMENT.FORM.DESCRIPTION' | translate }}"></textarea>
  <input [(ngModel)]="model.regexId" maxlength="50" id="database-regexId" name="regexId"
         placeholder="{{ 'DATABASE.ELEMENT.FORM.REGEX_ID' | translate }}"/>
  <input [(ngModel)]="model.regexName" maxlength="50" id="database-regexName" name="regexName"
         placeholder="{{ 'DATABASE.ELEMENT.FORM.REGEX_NAME' | translate }}"/>
  <div class="actions">
    <button type="submit" [disabled]="disabled">
      <i *ngIf="edit" class="fa fa-floppy-o" aria-hidden="true" title="{{ 'DATABASE.ELEMENT.FORM.SUBMIT.SAVE' | translate }}"></i>
      <i *ngIf="add && !model.url" class="fa fa-plus-square-o" aria-hidden="true" title="{{ 'DATABASE.ELEMENT.FORM.SUBMIT.UPLOAD' | translate }}"></i>
      <i *ngIf="add && model.url" class="fa fa-cloud-download" aria-hidden="true" title="{{ 'DATABASE.ELEMENT.FORM.SUBMIT.DL' | translate }}"></i>
    </button>
    <button type="button" (click)="cancel()">
      <i class="fa fa-trash-o" aria-hidden="true" title="{{ 'DATABASE.ELEMENT.FORM.CANCEL' | translate }}"></i>
    </button>
  </div>
</form>
<div
  *ngIf="!(edit || add)"
  class="elementDisplay"
  (click)="focus()"
  [style.backgroundImage]="(model.downloading && total > 0) ? 'linear-gradient(to right, green ' + progress + '%, blue 0%)':'transparent'">
  <p>{{ 'DATABASE.ELEMENT.DATABASE' | translate }}
    <span class="dbName">{{model.name}}</span>
    <ng-container *ngIf="model.path"> {{ 'DATABASE.ELEMENT.LOCATION' | translate:model }}</ng-container>
    <ng-container *ngIf="model.downloading"> {{ 'DATABASE.ELEMENT.INFO.SOURCE' | translate }}
      <span class="url">{{model.url}}</span>
    </ng-container>
    <ng-container *ngIf="!model.downloading && model.url"> {{ 'DATABASE.ELEMENT.SOURCE' | translate }}
      <span class="url">{{model.url}}</span>
    </ng-container>
    <ng-container *ngIf="model.size">
      <br/>size: {{ model.size | fileSize }}</ng-container>
  </p>
  <p class="description">{{model.description}}</p>
  <p
    *ngIf="model.added"
    style.textAlign="right">
    {{ 'DATABASE.ELEMENT.CREATION_DATE' | translate }} {{ model.added | date:shortDate }}
  </p>
  <ng-container *ngIf="expanded">
    <p *ngIf="model.regexId" translate [translateParams]="{regexId: model.regexId}">DATABASE.ELEMENT.INFO.REGEX_ID</p>
    <p *ngIf="model.regexName" translate [translateParams]="{regexName: model.regexName}">DATABASE.ELEMENT.INFO.REGEX_NAME</p>
    <p *ngIf="!model.regexId && model.regexName" translate>DATABASE.ELEMENT.INFO.NO_REGEX_ID</p>
    <p *ngIf="!model.regexName && model.regexId" translate>DATABASE.ELEMENT.INFO.NO_REGEX_NAME</p>
    <p *ngIf="!model.regexName && !model.regexId" translate>DATABASE.ELEMENT.INFO.NO_REGEXES</p>
    <p class="actions">
      <button
          (click)="startEditing()"
          title="{{ 'DATABASE.ELEMENT.ACTIONS.EDIT' | translate }}">
        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
      </button>
      <button
          (click)="delete()"
          title="{{ 'DATABASE.ELEMENT.ACTIONS.DELETE' | translate }}">
        <i class="fa fa-trash-o" aria-hidden="true"></i>
      </button>
    </p>
  </ng-container>
  <div>
    <i class="fa fa-2x expand" [ngClass]="{'fa-angle-up': expanded, 'fa-angle-down': !expanded}"></i>
  </div>
</div>
