@import 'colors.scss';
@import 'form.common.scss';
form {
    margin: -64px auto 0;
    width: 80%;
    padding: 8px;
    $separator-width: 5%;
    $element-width: 100%/2 - $separator-width;
    .separator {
        display: inline-block;
        width: $separator-width;
        text-align: center;
        line-height: $input-height;
    }
    .actions {
        clear: both;
        text-align: center;
    }
    .shrinkable {
        display: inline-block;
        width: $element-width;
    }
}

.elementDisplay {
    display: inline-block;
    width: 100%;
    overflow: hidden;
    margin-top: -50px;
    padding-left: 32px;
    box-sizing: border-box;
    p {
        span {
            word-wrap: break-word;
            word-break: break-all;
            &.url:hover {
                color: $color-secondary-1-0;
            }
            &.dbName {
                font-weight: bolder;
                font-variant: small-caps;
            }
        }
    }
    div {
        text-align: center;
        .fa.expand {
            background-color: transparent;
            color: black;
            width: 24px;
            height: 24px;
        }
    }
}